


h3{
font-style: italic;
color: green($color: #00800c);
padding: 10px 10px 10px 10px;
}

.card-title-md {
    color: #00800c;
}

.thankyou {
    max-width: 100%;
    border: 0;
    padding: 40px;
}

